body {
    position: relative;
    margin: 0 0;
    display:grid;
    grid-template-columns: 1fr 160px;
}

.container {
    grid-column: 1;
    padding-left: 1.39vw;
    padding-right: 1.39vw;
    padding-top: 140px;
    padding-bottom: 9.8vh;
    margin-top: -100px;
    background-color: #767676;
    }

/* Navigation */

.nav-container {
    grid-column: 2;
    font-family: 'IBM Plex Mono'; 
    font-weight: 700;
    font-size: 14px;
    margin-top: 100px;
    display: flex;
    align-items: right;
    text-align: center;
    background-color: white;
}

.intro {
    grid-column: 2;
    position: fixed;
    padding: 12px 56px;
    margin-left: -38px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, .1);

    transform: rotate(90deg);
}

.chap2 {
    position: fixed;
    grid-column: 2;
    margin-top: 178px;
    padding: 12px;
    min-width: 144px;
    margin-left: -21px;

    background: #e2e3e7;
    border: 1px solid #000000;
    border-radius: 10px 10px 0px 0px;
    border-style: inset;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, .1);

    transform: rotate(90deg);
}

.chap3 {
    position: fixed;
    grid-column: 2;
    margin-top: 360px;
    padding: 12px 20px;
    min-width: 128px;
    margin-left: -1px;

    background: #c4c4c4;
    border: 1px solid #000000;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, .1);
    border-radius: 10px 10px 0px 0px;

    transform: rotate(90deg);
}

.chap4 {
    position: fixed;
    grid-column: 2;
    margin-top: 542px;
    padding: 12px 20px;
    min-width: 128px;
    margin-left: -63px;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, .1);

    background: #767676;
    border: 1px solid #000000;
    border-radius: 10px 10px 0px 0px;

    transform: rotate(90deg);
}

/* lines */

.lines {
    grid-column: 2;
    z-index: -1;
}

.line1 {
    display: flex;
    position: fixed;
    width: 1px;
    height: 120vh;
    top: -8px;
    padding-right: 20px;

    border: 1px solid #000000;
}

.line2 {
    display: flex;
    position: fixed;
    width: 1px;
    height: 120vh;
    top: -8px;
    padding-right: 40px;

    border: 1px solid #000000;
}

.line3 {
    display: flex;
    position: fixed;
    width: 1px;
    height: 120vh;
    top: -8px;
    padding-right: 60px;

    border: 1px solid #000000;
}

.logo {
    position: fixed;
    margin: 0 17.8vw 0 72.2vw;
    align-items: right;
}

/* contents */

.header {
    grid-column: 1;
    margin: auto;
    margin-bottom: 7vh;
    max-width: 692px;
}

.paragraph {
    grid-column: 1;
    margin: auto;
    margin-bottom: 7vh;
    max-width: 692px;
}

.fasd {
    width: 574px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .1);
}

.img7 {
    grid-column: 1;
    margin: auto;
    width: 574px;
    margin-bottom: 7vh;
}



/* from here is type settings */

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
}

figcaption {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

h5 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

p {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

h4 {
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

/* hover animation */ 

a:link, a:visited {
    color: #000;
    text-decoration: none; }

@media (hover: hover){

a.intro:hover {

    padding: 18px 56px;
    margin-left: -32px;
    margin-top: -6px;
}

a.chap2:hover {

    margin-top: 172px;
    padding:18px 12px;
    margin-left: -15px;
}

a.chap3:hover {

    margin-top: 354px;
    padding: 18px 20px;
    margin-left: 5px;
}

a.chap4:hover {

    margin-top: 536px;
    padding: 18px 20px;
    margin-left: -57px;
}
}
/* here is mobile design */

@media only screen and (max-width: 644px) {

    body {
        position: relative;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: none;
    }

    .container {
        margin: 0 auto;
        padding: 0 16px;
        margin-top: 72px;
        position: relative;
        height: 100VH;
    }
    
    .nav-container {
        grid-column: 1;
        font-family: 'IBM Plex Mono'; 
        font-weight: 700;
        font-size: 12px;
        display: block;
        position: fixed;
        margin: 0 auto;
        height: 72px;
        width: 100vw;
        text-align: center;
        background: white;
        border-bottom-style: solid;
        z-index: 99;
    }

    .intro {
        position: fixed;
        padding: 12px 30px;
        box-shadow: none;
        margin-left: none;
        width: 46px;
        left: 36.41vw;
        top: 31px;

        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 5px 5px 0px 0px;
        z-index: 3;
    
        transform: rotate(0deg);
    }
    
    .chap2 {
        position: fixed;
        margin-top: 0;
        padding: 4px 12px;
        min-width: 19vw;
        max-width: 19vw;
        min-height: 30px;
        margin-left: none;
        box-shadow: none;
        left: 52.3vw;
        top: 31px;
    
        background: #e2e3e7;
        border: 1px solid #000000;
        border-radius: 5px 5px 0px 0px;
        z-index: 2;

        transform: rotate(0deg);
    }
    
    .chap3 {
        position: fixed;
        margin-top: 72px;
        padding: 4px 16px;
        min-width: 19vw;
        max-width: 19vw;
        min-height: 30px;
        margin-left: none;
        box-shadow: none;
        left: 67.7vw;
        top: -41px;
        z-index: 1;
    
        background: #c4c4c4;
        border: 1px solid #000000;
        border-radius: 5px 5px 0px 0px;
    
        transform: rotate(0deg);
    }
    
    .chap4 {
        position: fixed;
        margin-top: 72px;
        padding: 16px 12px;
        min-width: 21vw;
        max-width: 21vw;
        margin-left: none;
        box-shadow: none;
        left: 80px;
        top: -49px;
        z-index: 4;
    
        background: #767676;
        border: 1px solid #000000;
        border-radius: 5px 5px 0px 0px;
    
        transform: rotate(0deg);
    }

    .lines {
        grid-column: 2;
        z-index: -1;
        display: none!important;
    }
    
/* content */

    .header {
        margin: auto;
        margin-bottom: 4.8vh;
        margin-top: 60px;
        max-width: 692px;
    }
    
    .paragraph {
        margin: auto;
        margin-bottom: 6.16vh;
        max-width: 692px;
    }

    .fasd {
        width: 80vw;
        max-width: 574px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, .1);
    }
    
    .img7 {
        margin: 0 auto;
        width: 80vw;
        max-width: 574px;
        margin-bottom: 6.16vh;
    }

/* type setting */

    h1 {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 700;
        font-size: 44px;
        line-height: 44px;
    }
    
    h2 {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
    
    figcaption {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 400;
        font-size: 10px;
        text-align: center;
    }
    
    p {
        font-family: 'Barlow', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
    
    h4 {
        font-family: 'Courier Prime', monospace;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

}